html
  head
    title= title
    link(href='https://dmcdn.f5.com/css/portal-agility.css?f5v=165' type='text/css' rel='stylesheet')
    link(href="https://dmcdn.f5.com/dh/f5b0ce025ef12ffe86079484d5b005da.css" type="text/css" rel="stylesheet")
    style.
        bg-black {background-color:#000;}
        .bg-white {background-color:#fff;}
        .block-padding.icon-2x {padding:10px;}
        .block-padding.icon-2x.icon-facebook {padding-left:18px;padding-right:18px;}
        .half-text-wrap-right {
            width: 100%;
            max-width: 454px;
            float: right;
            margin-right: 96px;
        }

        .text-inverse .text-brand {color:#E40F38;}

        #video-wrap {
            height: 500px;
            overflow: hidden;
        }

        #video-wrap video {
            position:relative;
            top: -30%;
        width:100%;
        }

        #video-wrap video source {
            position: relative;
            width: 100%!important;
            height: auto!important;
        }

        .headertext {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            width: 1140px;
        }

        .text-yellow {color:#fff34b;}
        section.container-margin-2x {margin-bottom:0px;}
        p.line-height-def {line-height:1.5em;}
        .ghost-box {background:rgba(236,27,48,0.8);min-height:500px;}
        a.secondary-nav-cta {   
            color: #fff;
            text-decoration: none!important;
            padding:8px 20px;
            line-height:1em;
            display:inline-block;
        }
        a.secondary-nav-cta.inverse-cta {   
            background-color: #fff;
            color: #000;
        }

        @media (max-width: 768px) {
        #video-wrap {display:none;}
        .ghost-box {
            min-height: 100px;
            background: rgba(236,27,48,1);
            text-align: center;
        }
        .headertext {
            position: relative;
            width: auto;
        }
        .ghost-box h2 br {display:none;}
        .go-logo {
            max-width: 200px;
            margin: 0 auto;
            display: block;
        }
        .flex-container {display:block;}
        .jason-silva, .pablos-holman {min-height:340px;}
        .half-text-wrap-left, .half-text-wrap-right {
        float:none;
        max-width:100%;
        }
        .block-padding-xl-left, .block-padding-xl-right {padding:20px;}
        .arrow-left {
            right: 46%;
            bottom: 0;
            top: auto;
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;
            border-bottom: 30px solid #E40F38;
        }
        .arrow-right {
            left: 46%;
            bottom: auto;
            top: 0;
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;
            border-top: 30px solid #E40F38;
        } 
        .logo-wrap {
        max-width:200px;
        display:block;
        margin:0 auto 30px auto;
        }
        .sq-dummy {
        margin: auto;
        min-height: 200px;
        }
        .sq-content {
            position: relative;
            padding: 0;
            background: none;
        }
        .jay-mohr, .ono-ono, .u-two {
        background-size: contain;
        margin: 30px auto 0 auto;
        }
        }

        @media (max-width: 600px) {
        .hero .flex {padding:30px 0;}
        }

        .block-padding-xl-left {padding-left:96px;}
        .block-padding-xl-bot {padding-bottom:96px;}
        .flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        justify-content: space-around;
        margin:0;
        }

        .flex-vert-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }

        .talkbox .arrow-right {
        width: 0; 
        height: 0; 
        position:absolute;
        left:0;
        top:46%;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #E40F38;
        }

        .talkbox .arrow-left {
        width: 0; 
        height: 0; 
        position:absolute;
        right:0;
        top:46%;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent; 
        border-right:30px solid #E40F38; 
        }

        .jason-silva {background-image:url(/Portals/1/Images/campaign/Agility/jason-silva.jpg);background-repeat:no-repeat;background-position:center right;background-size:cover;}

        .half-text-wrap-left {
            width: 100%;
            max-width: 454px;
            float: left;
        }
        .logo-wrap {display:flex;}
        .logo-wrap a {width:100%;display:block;}
        .logo-wrap img {width:100%; align-self:center;}</style><style>.col-half-offset{
            margin-left:4.166666667%
        }

        .padding-offset .col-sm-2 {padding:0;margin-bottom:30px;}

        .icon-wrapper {    
            position:relative;
        }

        .icon-wrapper svg {
            height:80px;
            width:auto;
            position:relative;
            margin:0 auto 30px auto;
        }
        .border-left {border-left:2px solid #fff;}

  body(style="L0_Agility  Id1869  Level0 UPR_All_Users cp-None en-US en  authenticated dnnEditState")
    <header id="F5-Header" class="header-f5 header-inverse animate">
        <div class="meta-row"></div>
        <div class="main-row">
            <div class="container">
                <div class="brand">
                    <a class="brand-agility currentURL" data-link-type="nav: brand" href="/agility">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 191 35.83" width="191" height="36">
                            <path fill="#fff" d="M0 35.83h4.63l16.22-16.22h15.24v16.21h3.28V0h-3.53zm36.09-19.48h-12l12-12zM82.61.01h3.28v35.81h-3.28zm-7.1 16.33H62.38l-3.24 3.27h13.1v9.14a14.42 14.42 0 0 1-9.89 4.06c-8.17 0-14.1-6.28-14.1-14.92S54.18 3 62.35 3A14 14 0 0 1 72 6.75l2.12-2.15A16.28 16.28 0 0 0 62.35 0C52.19 0 44.82 7.52 44.82 17.89c0 10.22 7.54 17.94 17.53 17.94a17.56 17.56 0 0 0 13.12-5.76V16.43zM96.26 0h-3.27v35.82h20.21v-3.27H96.26V0zm22.77.01h3.28v35.81h-3.28zM186.37 0L170.7 15.67l-12.39-12.4L155.04 0h-27.29v3.27h11.5v32.56h3.28V3.27h11.14l14.71 14.72-17.83 17.84h4.63L191 0h-4.63z"></path>
                        </svg>
                    </a>
                </div>

                <ul id="MainMenu" class="main-nav list-inline" role="menu" aria-labelledby="dLabel">

                    <li class="">
                    
                        <a href="https://f5.com/agility/attend" target="" data-link-type="nav: main">Attend</a>
                    </li>

                    <li class="">
                    
                        <a href="https://f5.com/agility/learn" target="" data-link-type="nav: main">Learn</a>
                    </li>

                    <li class="">
                    
                        <a href="https://f5.com/agility/speakers" target="" data-link-type="nav: main">Speakers</a>
                    </li>

                    <li class="">
                    
                        <a href="https://f5.com/agility/network" target="" data-link-type="nav: main">Network</a>
                    </li>

                    <li class="">
                    
                        <a href="https://f5.com/agility/sponsors" target="" data-link-type="nav: main">Sponsors</a>
                    </li>

                </ul>

                <div class="brand brand-left">
                    <a class="brand-main" data-link-type="nav: brand" href="//f5.com">
                        <svg viewBox="0 0 100 88">
                            <circle r="44" cy="44" cx="44" fill="#E21D38"></circle>
                            <path stroke="null" d="M43.02 48.22c21.63 1.8 29.95 7.75 29.56 15.88-.4 4.36-4.57 8.52-9.92 8.93-6.34.4-9.33-2.2-11.1-4.97-1.6-2.57-3.38-5.16-5.17-7.94-.4-.8-1.2-.2-1.8.2-1.4 1.2-2.6 2.58-3.8 3.78-.7.78-.5 1.4-.3 1.98 1.2 2.78 2.4 5.56 3.6 8.13 1.9 1.2 10.8 2.8 17.4 2.2 4.6-.4 10.1-2.2 14.9-5.5 4.6-3.6 7.9-8.3 8.5-16.1.2-4.7-.6-9.6-4.78-14.2s-11.3-8.3-25.8-9.3c.8-2.3 1.4-4.5 2.2-6.73 8.75.4 16.5 1 23.04 1.8.6-2.5.8-4.95 1.4-7.36l-1.8-2.1c-3.36-.42-6.55-1.22-10.1-1.62-4.55-.6-9.3-1-14.46-1.2-3.4 9.57-7.4 21.64-11.6 34.3m-5.8-37.1c-1.6 0-3.76.4-7.33 1.2-7.73 2.2-17.24 7.54-18.24 16.45-.2 1.4-.2 3-.4 4.3l-6.13.6C5 35.6 5 37.2 4.8 39c2-.2 3.97-.2 6.15-.4-.4 9.36 0 18.7.8 27.37.2 1.4.2 2.6.2 3.4-.2.82-1.6 1.22-3.57 1.22l2.6 3.1c7.56 1.4 17.1 2.4 27.18 2.6v-3c-5.97-.4-8.7-1.2-9.1-2.4-.4-1-.4-2.4-.6-3.8-.4-9.1-.6-19.1-.4-29.2 3.43 0 6.75 0 10.17-.2 1.8-.8 3.4-1.6 5-2.4v-3.4c-5.17 0-10.13.2-15.1.2l.6-11.9c.2-2.6 1.98-4.4 3.57-4.4 2.77-.2 5.33.98 7.92 2.17 1.4.6 2.8 1.4 4.18 2 .6.2 1.4.4 2-.23.8-.97 1.6-1.97 2.38-2.76.4-.6.2-1 0-1.2l-5.38-4c-1-.8-2.8-.8-4.4-.8-.6-.2-1.2 0-1.8 0" fill="#FFF"></path>
                            <text x="87" y="75" font-size="17" fill="#E21D38">®</text>
                        </svg>
                    </a>
                </div>

            </div>
        </div>
    </header>
    img(src="https://f5.com/Portals/1/Images/campaign/Agility/agility-2018-homepage-lg.jpg" style="max-width:100%; max-height:100%")
    
    h1(class="text-brand d2 text-uppercase", style="text-align:center")= message
    h4(class="d4" style="text-align:center")= instructions
    form(action='/redirect', method='POST' style='text-align:center')
      h4(class="d4")
      | Class #: 
      input(type='text', name='class', value='')
      |         Student #: 
      input(type='text', name='student', value='') 
      |         
      input(type='submit', value='Submit')

    h2(class="text-brand d2 text-uppercase", style="text-align:center")= error

    <footer id="F5-Footer">
        <div class="container">
            
            <ul class="links">
                <li>
                    <p class="js-toggle-next js-toggle-next-mobile"><span class="visible-xs-inline-block hidden-ie"><svg class="svg-icon svg-inverse svg-down" viewBox="0 0 100 100"><line id="line-1" class="svg-line" x1="12.5" y1="32.5" x2="49.5" y2="67.5"></line><line id="line-2" class="svg-line" x1="87.5" y1="33" x2="49.5" y2="67.5"></line></svg></span>About F5</p>
                    <ul>
                        <li><a data-link-type="nav: footer" href="//f5.com/about-us">Corporate Information</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/about-us/news">Newsroom</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/about-us/investor-relations">Investor Relations</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/careers">Careers</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/about-us/contact">Contact Information</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/marketing-guidelines">Marketing Guidelines</a></li>
                    </ul>
                </li>
                <li>
                    <p class="js-toggle-next js-toggle-next-mobile"><span class="visible-xs-inline-block hidden-ie"><svg class="svg-icon svg-inverse svg-down" viewBox="0 0 100 100"><line id="line-1" class="svg-line" x1="12.5" y1="32.5" x2="49.5" y2="67.5"></line><line id="line-2" class="svg-line" x1="87.5" y1="33" x2="49.5" y2="67.5"></line></svg></span> Education</p>
                    <ul>
                        <li><a data-link-type="nav: footer" href="//f5.com/education/training">Training</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/education/certification">Certification</a></li>
                            <li><a data-link-type="nav: footer" href="//university.f5.com" class="internalLink">F5 University</a></li>

                        <li><a data-link-type="nav: footer" href="https://f5.com/education/training/free-courses">Free Online Training</a></li>
                    </ul>
                </li>
                <li>
                    <p class="js-toggle-next js-toggle-next-mobile"><span class="visible-xs-inline-block hidden-ie"><svg class="svg-icon svg-inverse svg-down" viewBox="0 0 100 100"><line id="line-1" class="svg-line" x1="12.5" y1="32.5" x2="49.5" y2="67.5"></line><line id="line-2" class="svg-line" x1="87.5" y1="33" x2="49.5" y2="67.5"></line></svg></span> F5 Sites</p>
                    <ul>
                        <li><a data-link-type="nav: footer" href="//f5.com">F5.com</a></li>
                        <li><a data-link-type="nav: footer" href="//DevCentral.f5.com" class="internalLink">DevCentral</a></li>
                        <li><a data-link-type="nav: footer" href="//Support.f5.com" class="internalLink">Support Portal</a></li>
                        <li><a data-link-type="nav: footer" href="//Partners.f5.com" class="internalLink">Partner Central</a></li>
                        <li><a data-link-type="nav: footer" href="//f5.com/labs">F5 Labs</a></li>
                    </ul>
                </li>

                    <li>
                        <p class="js-toggle-next js-toggle-next-mobile"><span class="visible-xs-inline-block hidden-ie"><svg class="svg-icon svg-inverse svg-down" viewBox="0 0 100 100"><line id="line-1" class="svg-line" x1="12.5" y1="32.5" x2="49.5" y2="67.5"></line><line id="line-2" class="svg-line" x1="87.5" y1="33" x2="49.5" y2="67.5"></line></svg></span> Preferences</p>
                        <ul>
                            <li><a data-link-type="nav: footer" href="https://f5.com/agility/ctl/logoff">Sign Out</a></li>
                            <li><a data-link-type="nav: footer" href="https://f5.com/activity-feed/userid/103075">Update Profile</a></li>
                            <li><a data-link-type="nav: footer" href="//f5.com/about-us/preferences">Email Preferences</a></li>
                        </ul>
                    </li>

                <li>
                    <p class="js-toggle-next js-toggle-next-mobile"><span class="visible-xs-inline-block hidden-ie"><svg class="svg-icon svg-inverse svg-down" viewBox="0 0 100 100"><line id="line-1" class="svg-line" x1="12.5" y1="32.5" x2="49.5" y2="67.5"></line><line id="line-2" class="svg-line" x1="87.5" y1="33" x2="49.5" y2="67.5"></line></svg></span> Connect With Us</p>
                    
                    <ul class="social-media text-inverse">
                            <!-- en -->
                            <li><a data-link-type="nav: footer" href="//twitter.com/f5networks" target="_blank" data-name="twitter" data-type="" data-prefix="social" data-utf="E032" title="Twitter" class="externalLink"><svg class="svg-icon svg-n-twitter" viewBox="0 0 100 100">
            <path class="svg-fill" d="M95 23.3s-3.5 5.4-9.2 9C87 57.3 67.8 85 33.3 85 16 85 5 77 5 77s13.6 2.7 27.3-7.2C18.3 69 15 57.5 15 57.5s3.8 1 8.4-.3c-15.6-3.7-15-17.6-15-17.6s4 2.2 8.5 2.2C2.6 31.4 11 18 11 18s12.7 17.2 38 18.7C45.8 17.3 69 8.4 81 20.5c6.2-1 12-4.3 12-4.3s-2 6.6-8.3 9.8c5-.3 10.5-2.7 10.5-2.7z"></path>
            </svg></a> </li>
                            <li><a data-link-type="nav: footer" href="//www.linkedin.com/companies/f5-networks" target="_blank" class="linkedin externalLink" title="LinkedIn"><svg class="svg-icon svg-n-linkedin" viewBox="0 0 100 100">
            <path class="svg-fill" d="M25.3 95H6.5V35h18.7v60zm30.3 0H37V35h18v8c4-6.4 10-9.6 18-9.6 14.7 0 22 8.6 22 25.7v36H76.5V63.6c0-9-3.2-13.5-9.5-13.5-7.6 0-11.4 4.5-11.4 13.4V95z"></path>
            <ellipse class="svg-fill" cx="15.8" cy="15.8" rx="10.8" ry="10.8"></ellipse>
            </svg></a> </li>
                            <li><a data-link-type="nav: footer" href="//www.facebook.com/f5networksinc" target="_blank" class="facebook externalLink" title="Facebook"><svg class="svg-icon svg-n-facebook" viewBox="0 0 75 100">
            <path class="svg-fill" d="M45,95H27.3V53.9H12.5v-16h14.8V26.1c0-6.7,2.1-12,6.3-15.8C37.5,6.8,42.7,5,49.3,5c3.7,0,8.1,0.2,13.2,0.6v14.3h-9.3 c-5.5,0-8.3,2.3-8.3,7v11h16.9l-2.2,16H45V95z"></path>
            </svg>
            </a></li>
                            <li><a data-link-type="nav: footer" href="//www.youtube.com/f5networksinc" target="_blank" class="youtube externalLink" title="YouTube"><svg class="svg-icon svg-n-youtube" viewBox="0 0 100 100">
            <path class="svg-fill" d="M50 20c26 0 36.2.3 40.3 4.3 3 3 4.7 8.8 4.7 25.7s-1.6 22.8-4.7 25.7C86.3 79.7 76 80 50 80s-36.2-.3-40.3-4.3C6.7 72.7 5 67 5 50s1.6-22.8 4.7-25.7c4-4 14.4-4.3 40.3-4.3zm-9.4 17v24L65 49 40.5 37z"></path>
            </svg>
            </a> </li>
                            <li><a data-link-type="nav: footer" href="//devcentral.f5.com/" target="_blank" class="devcentral internalLink" title="DevCentral"><svg class="svg-icon svg-dc" viewBox="0 0 100 100">
            <path class="svg-fill" d="M47.8 17.7v63.5h-12l-1-5.5c-2 3.6-6.4 6.6-12 6.6C12.2 82.3 5 76.3 5 60c0-16 7-24.4 18.3-24.4C29 35.6 32 38 34 41h.2V17.6h13.6zm-21 26.8c-4.7 0-7.7 4-7.7 15.3 0 10 3 13.8 8 13.8 6 0 8-5.4 8-14.7 0-11-3-15-8-15zM83 54c-.4-6.4-3.5-8.6-7.3-8.6-4.5 0-8.2 3-8.2 13.4 0 10 3 13.7 8 13.7 4 0 6.4-1.7 7.4-7.6h11c-1.4 13-10 17-19.6 17C59.4 82 53 72 53 59c0-15 8.7-23.7 22.7-23.7 12.6 0 18.3 7.6 19 17.5l-12 1z"></path>
            </svg>
            </a> </li></ul></li></ul>
                        <div class="back-to-top js-back-to-top clickable"><svg class="svg-icon svg-inverse svg-square svg-down up" viewBox="0 0 100 100"><line id="line-1" class="svg-line" x1="12.5" y1="32.5" x2="49.5" y2="67.5"></line><line id="line-2" class="svg-line" x1="87.5" y1="33" x2="49.5" y2="67.5"></line></svg></div>
            <script>$(".js-back-to-top").click(function (e) { $("html, body").animate({ scrollTop: 0 }); window.dataLayer = window.dataLayer || []; window.dataLayer.push({ 'event': 'link click', 'action': 'nav: footer-up' }); return false; });</script>
                        
            <ul class="sub-footer legal-text">
                <li>© 2018 F5 Networks, Inc. All rights reserved</li>
                <li><a data-link-type="nav: footer-sub footer" href="//f5.com/about-us/policies">Policies</a></li>
                <li><a data-link-type="nav: footer-sub footer" href="//f5.com/about-us/policies/privacy-policy">Privacy</a></li>
                <li><a data-link-type="nav: footer-sub footer" href="//f5.com/about-us/policies/trademarks">Trademarks</a></li>
            </ul>
        </div>
    </footer>